{% extends 'base.html' %}

{% block styles %}
<style>
    a:link,
    a:visited,
    a:hover,
    a:active {
        text-decoration: none;
        color: black;
    }

    .material-icons.md-dark {
        color: rgba(0, 0, 0, 1);
    }

    .material-icons.md-36 {
        font-size: 36px;
    }

    .slick-prev,
    .slick-next {
        position: absolute;
        /*絶対配置にする*/
        top: 42%;
        cursor: pointer;
        /*マウスカーソルを指マークに*/
        outline: none;
        /*クリックをしたら出てくる枠線を消す*/
        border-top: 2px solid #666;
        /*矢印の色*/
        border-right: 2px solid #666;
        /*矢印の色*/
        height: 15px;
        width: 15px;
    }

    .slick-prev {
        /*戻る矢印の位置と形状*/
        left: -1.5%;
        transform: rotate(-135deg);
    }

    .slick-next {
        /*次へ矢印の位置と形状*/
        right: -1.5%;
        transform: rotate(45deg);
    }

    /*ドットナビゲーションの設定*/

    .slick-dots {
        text-align: center;
        margin: 20px 0 0 0;
    }

    .slick-dots li {
        display: inline-block;
        margin: 0 5px;
    }

    .slick-dots button {
        color: transparent;
        outline: none;
        width: 8px;
        /*ドットボタンのサイズ*/
        height: 8px;
        /*ドットボタンのサイズ*/
        display: block;
        border-radius: 50%;
        background: #ccc;
        /*ドットボタンの色*/
    }

    .slick-dots .slick-active button {
        background: #333;
        /*ドットボタンの現在地表示の色*/
    }
</style>
{% endblock %}

{% block page_title %}
詳細ページ
{% endblock %}

{% block contents %}
{% load static %}

<!-- 本のタイトルなど -->
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{data.imageLinks.thumbnail}}" alt="thumbnail">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{data.title}}</h3>
                    <p class="card-text">{{data.publishedDate}}出版</p>
                    <p class="card-text">
                        {{data.authors}}
                        著
                    </p>
                    <p>
                    <form method="post" action="{% url 'Books:thoughts' %}">
                        {%csrf_token%}
                        <input type="hidden" value="{{data.title}}" name="title">
                        <input type="hidden" value="False" name="readflag">
                        <button type="submit" class="btn btn-normal">
                            <span class="material-icons">
                                star
                            </span>読みたい本に登録
                        </button>
                    </form>
                    </p>
                    <p>
                        <button type="btn" class="btn btn-normal" data-bs-toggle="modal"
                            data-bs-target="#not_read_modal" style="white-space: nowrap;"
                            data-title="{{data.title}}"><span class="material-icons">
                                add_comment
                            </span>感想登録</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- あらすじ -->
<div class="container">
    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">作品紹介・あらすじ</h3>
            <p class="card-text">
                {{data.description}}
            </p>
        </div>
    </div>
</div>


<!-- 著者の別の作品 -->
<div class="container">
    <h2>{{data.authors}}の他の作品</h2>
    <div class="multiple-items">
        {% for res in search_result %}
        <form action="{% url 'Books:detail'%}" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{res.title}}" name="title">
            <input type="hidden" value="{{res.imageLinks}}" name="imageLinks">
            <input type="hidden" value="{{res.description}}" name="description">
            <input type="hidden" value="{{res.authors}}" name="authors">
            <input type="hidden" value="{{res.publishedDate}}" name="publishedDate">
            <input type="hidden" value="{{res.pageCount}}" name="pageCount">
            <div>
                <button type="submit">
                    <img src="{{res.imageLinks.thumbnail}}" class="d-block w-100 mx-auto" alt="thumbnail"
                        style="max-height:180px; max-width: 120px;">
                </button>
                <p class="text-center">{{res.title}}</p>
            </div>
        </form>
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
{% block modal %}
{% endblock %}
{% block scripts %}
<script>
    // 感想登録modalにデータを渡す
    $("#not_read_modal").on('show.bs.modal', function (event) {
        //モーダルを開いたボタンを取得
        var button = $(event.relatedTarget);
        // データ渡す
        $("#title_textbox").val(button.data("title"));
        $("#readdate_textbox").val(create_today());
        $("#thoughts_textbox").val("");
    });
    // 今日の日付データを作成する
    function create_today() {
        var today = new Date();
        today.setDate(today.getDate());
        var yyyy = today.getFullYear();
        var mm = ("0" + (today.getMonth() + 1)).slice(-2);
        var dd = ("0" + today.getDate()).slice(-2);
        var now = yyyy + '-' + mm + '-' + dd;
        return now;
    }
    // 検索結果をスライド表示する
    $('.multiple-items').slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3,
        prevArrow: '<div class="slick-prev"></div>',
        nextArrow: '<div class="slick-next"></div>',
        centerPadding: '30px',
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: false,
                    centerPadding: '40px',
                    slidesToShow: 2,
                    slidesToScroll: 2,
                }
            },
            {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1,
                    slidesToScroll: 1,
                }
            }
        ]
    });
</script>
{% endblock %}