{% extends 'base.html' %}

{% block styles %}
{% endblock %}

{% block page_title %}
感想登録ページ
{% endblock %}

{% block contents %}
{% load static %}

<!-- 検索フォーム -->
仮
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{thumbnail}}" alt="thumbnail">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{title}}</h3>
                    <p class="card-text">
                        {{authors}}
                        著
                    </p>
                    <form action="{% url 'Books:thoughts'%}" method="post" class="text-center">
                        {% csrf_token %}
                        <div class="card-text row mb-3">
                            <label class="col-sm-3 col-form-label " for="title_textbox">タイトル</label>
                            <div class="col-sm-9">
                                <input id="title_textbox" class="form-control" required autofocus name="title"
                                    value="{{title}}">
                            </div>
                        </div>
                        <div class="card-text row mb-3">
                            <label class="col-sm-3 col-form-label " for="readdate_textbox">読書日</label>
                            <div class="col-sm-9">
                                <input type="date" id="readdate_textbox" name="readdate" required class="form-control">
                            </div>
                        </div>
                        <div class="card-text row mb-3">
                            <label class="col-sm-3 col-form-label" for="thoughts_textbox">感想</label>
                            <div class="col-sm-9">
                                <input id="thoughts_textbox" class="form-control" required autofocus name="thoughts">
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">登録</button>
                        <div class="err_msg">
                            {{msg}}
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script>
    window.onload = function () {
        var today = new Date();
        today.setDate(today.getDate());
        var yyyy = today.getFullYear();
        var mm = ("0" + (today.getMonth() + 1)).slice(-2);
        var dd = ("0" + today.getDate()).slice(-2);
        document.getElementById("readdate_textbox").value = yyyy + '-' + mm + '-' + dd;
    }
</script>
{% endblock %}