<!DOCTYPE html>
<html lang="ja">
{% load static %}

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Book Recommender
    </title>

    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />

    <!-- CSS Files -->
    {% block styles %}
    {% endblock %}
</head>

<body class="sidebar-collapse">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <p class="navbar-brand" href="#">{% block page_title%}{% endblock %}</p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Books:book_search'%}">
                            <span class="material-icons">
                                search
                            </span>BookSearch
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Login:signup'%}">
                            <i class="material-icons">account_circle</i>SignUp
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Login:index'%}">
                            <i class="material-icons">login</i>Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login:logout'%}">
                            <i class="material-icons">logout</i>Logout
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Login:config'%}">
                            <i class="material-icons">settings</i>Config
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                            href="https://twitter.com/masamunenoheya" target="_blank"
                            data-original-title="Follow us on Twitter" rel="nofollow">
                            <i class="fa fa-twitter"></i>Twitter
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" rel="tooltip" title="" data-placement="bottom"
                            href="https://github.com/msamunetogetoge" target="_blank"
                            data-original-title="Follow us on github" rel="nofollow">
                            <i class="fa fa-github"></i>GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    {% block contents %}
    {% endblock %}

    {% block modals %}
    <!--既読にするmodal -->
    <div class="modal" tabindex="-1" id="not_read_modal" aria-labelledby="not_read_modal_label" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="not_read_modal_label">既読本へ登録</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{% url 'Books:thoughts'%}" method="post" class="text-center">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="card-text mb-3">
                            <label class="form-label pull-left mb-3" for="title_textbox">タイトル</label>
                            <div class="">
                                <input id="title_textbox" class="form-control" name="title" readonly>
                            </div>
                        </div>
                        <div class="card-text mb-3">
                            <label class="pull-left form-label mb-3" for="readdate_textbox">読書日</label>
                            <div class="">
                                <input type="date" id="readdate_textbox" name="readdate" required class="form-control">
                            </div>
                        </div>
                        <div class="card-text mb-3">
                            <label class="pull-left form-label mb-3" for="thoughts_textbox">感想</label>
                            <div class="">
                                <textarea id="thoughts_textbox" class="form-control thoughts_textbox" required autofocus
                                    name="thoughts" rows="4"> </textarea>
                                <div class="invalid-feedback">感想は300文字までです。</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                        <button type="submit" class="btn btn-primary" id="thoughts_modal_submit_button">登録</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endblock %}
    <footer class="container-fluid border-top bg-white fixed-bottom text-center">
        <small>
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a href="https://github.com/msamunetogetoge" target="_blank">Masamunenoheya</a>
        </small>
    </footer>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- js plugin -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- slick -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    {% block scripts %}
    {% endblock %}
</body>

</html>