{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/Login/base.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/Login/config.css' %}">
{% endblock %}

{% block contents %}
<!-- 作家表示 -->
<div class="container">
    {{msg}}
    <div class="card card-container mb-6">
        <h5 class="card-header">お気に入りの作家</h5>
        <div class="card-body">
            <ul class="list-group">
                <div id="auth_list">
                    {% for a in auth %}
                    <form method="post" action="{% url 'Login:delete_attr' %}">
                        {%csrf_token%}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            {{a}}
                            <a href="#" class="clear_button">
                                <input type="hidden" value="{{a}}" name="string">
                                <input type="hidden" value="0" name="code">
                                <span class="material-icons">clear</span>
                            </a>
                        </li>
                    </form>

                    {% endfor %}
                </div>
                <a data-bs-toggle="collapse" href="#collapseAuth" role="button" aria-expanded="false"
                    aria-controls="collapseAuth">
                    <span class="material-icons">
                        add
                    </span>
                </a>
                <div class="collapse" id="collapseAuth">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="作家名" aria-label="Author Name"
                            aria-describedby="auth_add" id="auth_add_text">
                        <button class="btn btn-outline-primary" type="button" id="auth_add">追加</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

<!-- 読みたい本表示 -->
<div class="container">
    <div class="card card-container mb-6">
        <h5 class="card-header">読みたい本</h5>
        <div class="card-body">
            <ul class="list-group">
                <div id="not_read_list">
                    {% for r_data in not_readdata %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        <div class="title_div">
                            {{r_data.title}}
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <button type="btn" class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#not_read_modal" style="white-space: nowrap;"
                                        data-title="{{r_data.title}}">既読にする</button>
                                </div>
                                <div class="col">
                                    <form method="post" action="{% url 'Books:delete_not_read' %}">
                                        {%csrf_token%}
                                        <a href="#" class="clear_button">
                                            <input type="hidden" value="{{r_data.title}}" name="title">
                                            <span class="material-icons">clear</span>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>

                    {% endfor %}
                </div>
            </ul>

        </div>
    </div>
</div>
<!-- 読んだ本表示 -->
<div class="container">
    <div class="card card-container mb-6">
        <h5 class="card-header">既読本</h5>
        <div class="card-body">
            <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center ">
                <div>
                    タイトル
                </div>
                <div>
                    読書完了日
                </div>
            </li>
            {% for r_data in readdata %}
            <div>
                <li
                    class="list-group-item d-flex justify-content-between align-items-center list-group-item-action readdata">
                    <div id="title">
                        {{r_data.title}}
                    </div>
                    <div id="readdate">
                        {{r_data.readdate}}
                    </div>

                </li>
                <button type="btn" class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#not_read_modal"
                    data-title="{{r_data.title}}" data-readdate="{{r_data.readdate}}"
                    data-thoughts="{{r_data.thoughts}}" id="readdata_update" style="display: none;"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- ジャンル表示 -->
<div class=" container" style="display: none;">
    <div class="card card-container mb-6">
        <h5 class="card-header">お気に入りのジャンル</h5>
        <div class="card-body">
            <ul class="list-group">
                {% for ge in genre %}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{ge}}
                    <a href="#">
                        <span class="material-icons">clear</span>
                    </a>
                </li>
                {% endfor %}
                <a data-bs-toggle="collapse" href="#collapseGenre" role="button" aria-expanded="false"
                    aria-controls="collapseGenre">
                    <span class="material-icons">
                        add
                    </span>
                </a>
                <div class="collapse" id="collapseGenre">
                    ラジオボタンと、追加ボタンみたいにする？
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="ジャンルはselect要素" aria-label="Genre Name"
                            aria-describedby="genre_add">
                        <button class="btn btn-outline-primary" type="button" id="genre_add">追加</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block modal %}
{% endblock %}

{% block ajax %}
{% endblock %}

{% block scripts %}
<!-- my js file -->
<script type="text/javascript" src="{% static 'js/Login/config.js' %}"></script>
<script>
    // ajax使う為の設定
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // お気に入り作家を登録する
    $("#auth_add").click(
        function () {
            if ($("#auth_add_text").val() != "") {
                var auth = $("#auth_add_text").val();
                $.ajax({
                    url: "{% url 'Login:register_attr' %}",
                    method: "POST",
                    data: {
                        code: "0",
                        string: auth,
                    },
                    timeout: 5000,
                })
                    .done(function (data) {
                        $("#auth_list").append('<form method="post" action=' + '{% url "Login:delete_attr" %}' + '>{%csrf_token%}<li class="list-group-item d-flex justify-content-between align-items-center ">' + auth + '<a href="#" class="clear_button"><input type="hidden" value="{{a}}" name="string"><input type="hidden" value="0" name="code"><span class="material-icons">clear</span></a></li></form>');
                    })
                    .fail(function () {
                        alert("お気に入り登録に失敗しました。同じ名前の作家は登録できません。");
                    })
                    .always(function () {
                        $("#auth_add_text").val('');
                    });
            }
        });
</script>
{% endblock %}