{% extends 'base.html' %}

{% block styles %}
<style>
    .pre_clear {
        background-color: skyblue;
    }

    .card-container.card {
        max-width: 700px;
        padding: 40px 40px;
    }

    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
</style>
{% endblock %}

{% block page_title %}
<h2>{{name}}さんのプロファイル</h2>
{% endblock %}

{% block contents %}
<!-- 作家表示 -->
<div class="container">
    {{msg}}
    <div class="card card-container mb-6">
        <h5 class="card-header">お気に入りの作家</h5>
        <div class="card-body">
            <ul class="list-group">
                <div id="auth_list">
                    {% for a in auth %}
                    <form method="post" action="{% url 'Login:delete_attr' %}">
                        {%csrf_token%}
                        <li class="list-group-item d-flex justify-content-between align-items-center ">
                            {{a}}
                            <a href="#" class="clear_button">
                                <input type="hidden" value="{{a}}" name="string">
                                <input type="hidden" value="0" name="code">
                                <span class="material-icons">clear</span>
                            </a>
                        </li>
                    </form>

                    {% endfor %}
                </div>
                <a data-bs-toggle="collapse" href="#collapseAuth" role="button" aria-expanded="false"
                    aria-controls="collapseAuth">
                    <span class="material-icons">
                        add
                    </span>
                </a>
                <div class="collapse" id="collapseAuth">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="作家名" aria-label="Author Name"
                            aria-describedby="auth_add" id="auth_add_text">
                        <button class="btn btn-outline-primary" type="button" id="auth_add">追加</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>

<!-- 読みたい本表示 -->
<div class="container">
    <div class="card card-container mb-6">
        <h5 class="card-header">読みたい本</h5>
        <div class="card-body">
            <ul class="list-group">
                <div id="not_read_list">
                    {% for r_data in not_readdata %}
                    <li class="list-group-item d-flex justify-content-between align-items-center ">
                        <div class="title_div">
                            {{r_data.title}}
                        </div>
                        <div>
                            <div class="row">
                                <div class="col">
                                    <button type="btn" class="btn btn-normal" data-bs-toggle="modal"
                                        data-bs-target="#not_read_modal" style="white-space: nowrap;"
                                        data-title="{{r_data.title}}">既読にする</button>
                                </div>
                                <div class="col">
                                    <form method="post" action="{% url 'Books:delete_not_read' %}">
                                        {%csrf_token%}
                                        <a href="#" class="clear_button">
                                            <input type="hidden" value="{{r_data.title}}" name="title">
                                            <span class="material-icons">clear</span>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>

                    {% endfor %}
                </div>
            </ul>

        </div>
    </div>
</div>
<!-- 読んだ本表示 -->
<div class="container">
    <div class="card card-container mb-6">
        <h5 class="card-header">既読本</h5>
        <div class="card-body">
            <li class="list-group-item list-group-item-info d-flex justify-content-between align-items-center ">
                <div>
                    タイトル
                </div>
                <div>
                    読書完了日
                </div>
            </li>
            {% for r_data in readdata %}
            <div>
                <li
                    class="list-group-item d-flex justify-content-between align-items-center list-group-item-action readdata">
                    <div id="title">
                        {{r_data.title}}
                    </div>
                    <div id="readdate">
                        {{r_data.readdate}}
                    </div>

                </li>
                <button type="btn" class="btn btn-normal" data-bs-toggle="modal" data-bs-target="#not_read_modal"
                    data-title="{{r_data.title}}" data-readdate="{{r_data.readdate}}"
                    data-thoughts="{{r_data.thoughts}}" id="readdata_update" style="display: none;"></button>
            </div>
            {% endfor %}

            <!-- <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-info">
                    タイトル
                </li>
                <li class="list-group-item list-group-item-info">
                    読書完了日
                </li>
                <li class="list-group-item list-group-item-info">
                    感想など
                </li>
            </ul>
            {% for r_data in readdata %}
            <ul class="list-group list-group-horizontal-sm">
                <li class="list-group-item">
                    {{r_data.title}}
                </li>
                <li class="list-group-item">
                    {{r_data.readdate}}
                </li>
                <li class="list-group-item">
                    {{r_data.thoughts}}
                </li>
            </ul>
            {% endfor %} -->

        </div>
    </div>
</div>
<!-- ジャンル表示 -->
<div class=" container" style="display: none;">
    <div class="card card-container mb-6">
        <h5 class="card-header">お気に入りのジャンル</h5>
        <div class="card-body">
            <ul class="list-group">
                {% for ge in genre %}
                <li class="list-group-item d-flex justify-content-between align-items-center">{{ge}}
                    <a href="#">
                        <span class="material-icons">clear</span>
                    </a>
                </li>
                {% endfor %}
                <a data-bs-toggle="collapse" href="#collapseGenre" role="button" aria-expanded="false"
                    aria-controls="collapseGenre">
                    <span class="material-icons">
                        add
                    </span>
                </a>
                <div class="collapse" id="collapseGenre">
                    ラジオボタンと、追加ボタンみたいにする？
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="ジャンルはselect要素" aria-label="Genre Name"
                            aria-describedby="genre_add">
                        <button class="btn btn-outline-primary" type="button" id="genre_add">追加</button>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</div>


{% endblock %}
{% block modal %}
{% endblock %}
{% block ajax %}
{% endblock %}
{% block scripts %}
<script>


    // not_read_modalが開く時にデータを渡す
    $("#not_read_modal").on('show.bs.modal', function (event) {
        //モーダルを開いたボタンを取得
        var button = $(event.relatedTarget);
        // データ渡す
        $("#title_textbox").val(button.data("title"));
        $("#readdate_textbox").val(create_today());
        $("#thoughts_textbox").val(button.data("thoughts"));
        $("#title_textbox").attr('readonly', true);
    });

    // 既読本をクリックした時に、モーダルを開く
    $(".readdata").click(function (event) {
        // console.log($(this).find("#readdata_update"));
        var button = $(this).parent().find("#readdata_update");
        button.click();
    });

    // お気に入り作家を登録する
    $("#auth_add").click(
        function () {
            if ($("#auth_add_text").val() != "") {
                var auth = $("#auth_add_text").val();
                $.ajax({
                    url: "{% url 'Login:register_attr' %}",
                    method: "POST",
                    data: {
                        code: "0",
                        string: auth,
                    },
                    timeout: 5000
                })
                    .done(function (data) {
                        $("#auth_list").append('<form method="post" action=' + '{% url "Login:delete_attr" %}' + '>{%csrf_token%}<li class="list-group-item d-flex justify-content-between align-items-center ">' + auth + '<a href="#" class="clear_button"><input type="hidden" value="{{a}}" name="string"><input type="hidden" value="0" name="code"><span class="material-icons">clear</span></a></li></form>');
                    })
                    .fail(function () {
                        alert("お気に入り登録に失敗しました。同じ名前の作家は登録できません。");
                    })
                    .always(function () {
                        $("#auth_add_text").val('');
                    });
            }
        });

    // input type=date に渡せる今日のデータ作成
    function create_today() {
        var today = new Date();
        today.setDate(today.getDate());
        var yyyy = today.getFullYear();
        var mm = ("0" + (today.getMonth() + 1)).slice(-2);
        var dd = ("0" + today.getDate()).slice(-2);
        var now = yyyy + '-' + mm + '-' + dd;
        return now;
    }


    // ×押す->削除可能状態->削除
    $(".clear_button").click(function () {
        if ($(this).parents('li').hasClass("pre_clear")) {
            // ajax でpost送信して削除
            $(this).parents("form").submit();
        } else {
            // li要素にpre_claerクラスを付与
            $(this).parents('li').addClass("pre_clear");
        }
    });
    // マウスが離れたら削除不可状態に戻す
    $("li").mouseleave(function () {
        if ($(this).hasClass("pre_clear")) {
            $(this).removeClass("pre_clear");
        }
    });
</script>
{% endblock %}