{% extends 'base.html' %}

{% block styles %}
<style>
    .err_msg {
        color: red;
    }

    .card-container.card {
        max-width: 350px;
        padding: 40px 40px;
    }

    .card {
        background-color: #F7F7F7;
        /* just in case there no content*/
        padding: 20px 25px 30px;
        margin: 0 auto 25px;
        margin-top: 50px;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .form-signin .form-control:focus {
        border-color: rgb(104, 145, 162);
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    }

    .form-signin input[type=email],
    .form-signin input[type=password],
    .form-signin input[type=text],
    .form-signin button {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
        position: relative;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    .btn.btn-signin {
        /*background-color: #4d90fe; */
        background-color: rgb(104, 145, 162);
        /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
        padding: 0px;
        font-weight: 700;
        font-size: 14px;
        height: 36px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        -o-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -webkit-transition: all 0.218s;
        transition: all 0.218s;
    }

    .btn.btn-signin:hover,
    .btn.btn-signin:active,
    .btn.btn-signin:focus {
        background-color: rgb(12, 97, 33);
    }
</style>
{% endblock %}

{% block contents %}

<div class="container">
    <div class="card card-container mb-6">
        <h5 class="card-header">Book Recommender</h5>
        <div class="card-body">
            <form action="{% url 'Login:index'%}" method="post" class="text-center form-signin">
                {% csrf_token %}
                <p class="card-text"><input class="form-control" placeholder="ID" required autofocus name="id"></p>
                <p class="card-text"><input class="form-control" type="password" placeholder="PASSWORD" required
                        name="password"></p>
                <p class="card-text"><a href="#">パスワードをお忘れの場合</a></p>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Login</button>
                <p class="err_msg">{{msg}}</p>
        </div>
        </form>
    </div>
</div>

{% endblock %}